mixin authorForm(author, saveURL, cancelURL)

    div.form-container
        form(action=saveURL method='post')
            div.form-input
                label(for='')
                input(id='' name='' value= )
                